footer {
    background-image: url('../img/homepage/footer.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    color: rgb(199, 199, 199);
    font-family: Arial, Helvetica, sans-serif;
    .backdrop {
        z-index: 1000;
        backdrop-filter: contrast(1.2) brightness(0.1) sepia(0.3) saturate(1.5) hue-rotate(-20deg);
        .content {
            padding: 50px 40px;
            padding-bottom: 20px;
            border-bottom: 1.5px solid #c3a281;
            font-size: 15px;
            font-weight: 100;
            .col1 {
                padding-right: 45px;
                .title {
                    color: rgb(233, 233, 233);
                }
            }
            .social {
                margin: 0 auto;
                .contact_icon i {
                    margin: 0 5px;
                    width: 30px;
                    height: 30px;
                    border: 1px solid white;
                    border-radius: 100%;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        .copyright {
            padding: 10px 0 40px 40px;
        }
        .red {
            color: red;
        }
    }
}